div.component-experience {
    text-align: center;
    border: 1px solid black;
    margin: 4px;
    padding: 5px;
}

div.component-experience div.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.component-experience div.tags span {
    padding: 2px 1em;
    border-radius: 1em;
    background-color: rgba(92, 255, 92, 0.57);
    margin: 2px 0.5em;
}

div.component-experience div.photos {
    overflow-x: scroll;
    --square: 20em;
    display: grid;
    max-width: calc(2 * var(--square));
    margin: auto;
}

div.component-experience div.photos div.photo {
    grid-row: 1;
    width: var(--square);
    height: var(--square);
    display: block;
    position: relative;
    /* background-color: gray; */
    margin: auto;
}

div.component-experience div.photos div.photo img {
    max-width: var(--square);
    max-height: var(--square);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.component-experience div.liens {
    display: grid;
    grid-template-columns: 1fr;
}

div.component-experience div.button {
    background-color: rgba(198, 198, 198, 0.439);
    cursor: pointer;
    margin: 2px 0.5em;
    padding: 2px 0.5em;
    border-radius: 1em;
}

div.component-experience span.entreprise {
    font-weight: bold;
    margin: 2px 1em;
}

div.component-experience span.dates {
    font-style: italic;
    margin: 2px 1em;
}